* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #111;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 45px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.social a {
  margin-left: 15px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 60px 30px;
}

.column {
  flex: 1;
  max-width: 300px;
}

.image img {
  max-width: 300px;
  width: 300%;
  height: auto;
  border-radius: 400px;
}

.highlight {
  font-size: 48px;
  font-weight: bold;
  color: #222;
}

.coder {
  color: #000;
}

p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.6;
  color: #666;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 30px 20px;
  }

  .column {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .image img {
    max-width: 200px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .social {
    margin-top: 10px;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background: black;
  border-top: 1px solid #e0e0e0;
  flex-wrap: wrap;
}

.footer-left p,
.footer-right p {
  margin: 0.5rem 0;
  color:white;
}

.footer-right {
  text-align: right;
}

footer a {
  color: white;
  text-decoration: none;
}